{% extends 'base.html' %}
{% block content %}

<h1>Books by {{ author_name }}</h1>

{% if author_bio %}
    <div class="author-bio">
        <h3>About the author</h3>
        <p>{{ author_bio|safe }}</p>
    </div>
{% endif %}

<h2>Your Library</h2>
<div class="author-books">
    {% for book in db_books %}
    <div class="book-item">
        {% if book.thumbnail %}
            <img src="{{ book.thumbnail }}">
        {% endif %}
        <div class="book-info">
            <a href="{{ book.get_detail_url }}">{{ book.title }}</a>
            <p>(Saved in your library)</p>
        </div>
    </div>
    {% empty %}
        <p>No books imported yet.</p>
    {% endfor %}
</div>

<h2>Import from Google Books</h2>
<div class="author-books">
    {% for book in google_books %}
    <div class="book-item">
        {% if book.thumbnail %}
        <img src="{{ book.thumbnail }}">
        {% endif %}
        <div class="book-info">
            {{ book.title }}
            <br>
            <a href="{% url 'import_book' 'google' book.external_id %}" class="btn-import">
                Import to library
            </a>
        </div>
    </div>
    {% endfor %}
</div>


</div>

<a href="{% url 'author_search' %}" class="btn-back">Back to search</a>

{% endblock %}
