{% extends "base.html" %}

{% block content %}
<h1>Hledání autora</h1>

<form method="get">
    <input type="text" name="author" value="{{ query }}" placeholder="Napiš jméno autora.">
    <button type="submit">Hledat</button>
</form>

{% if results %}
    <h2>Výsledky:</h2>
    <ul>
        {% for author in results %}
            <li>
                 <a href="{% url 'author_detail' author_name=author.first_name|add:" "|add:author.last_name %}">
            {{ author.first_name }} {{ author.last_name }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Žádní autoři nenalezeni.</p>
{% endif %}

{% endblock %}
