{% extends 'base.html' %}
{% block content %}
<div class="profile-container">

    <h1>Profil uživatele: {{ request.user.username }}</h1>

    <div class="profile-main">

        <div class="profile-photo">
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}" alt="Profilová fotka">
            {% else %}
                <div class="no-photo">Žádná fotka</div>
            {% endif %}
        </div>


        <div class="profile-info">
            <p><strong>Čtecí cíl:</strong> {{ profile.reading_goal|default:"nenastaveno" }}</p>

<h3>Oblíbené žánry:</h3>
{% if profile.favorite_genres.exists %}
    <ul>
        {% for genre in profile.favorite_genres.all %}
            <li>
                <a href="{% url 'genre_books' genre.id %}">{{ genre.name }}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Žádné</p>
{% endif %}

            <h3>Sledovaní autoři:</h3>
            {% if profile.preferred_authors.exists %}
                <ul>
                    {% for author in profile.preferred_authors.all %}
                    <a href="{% url 'author_detail' pk=author.pk %}">
                    {{ author.first_name }} {{ author.last_name }}
                    </a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>Žádní</p>
            {% endif %}

            <h3>Moje seznamy knih:</h3>
                <a href="{% url 'create_booklist' %}" class="btn btn-primary">Vytvořit nový seznam</a>
                <ul>
                {% for blist in request.user.booklists.all %}
                <li>
                    <a href="{% url 'booklist_detail' blist.id %}">{{ blist.name }}</a>
                </li>
            {% empty %}
            <li>Žádné seznamy</li>
            {% endfor %}
            </ul>

            <button id="edit-profile-btn">Upravit profil</button>


            <div id="edit-profile-form" style="display:none; margin-top:15px;">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Uložit změny</button>
                </form>
            </div>
        </div>
    </div>

</div>

<script>
document.getElementById('edit-profile-btn').onclick = function() {
    const form = document.getElementById('edit-profile-form');
    form.style.display = form.style.display === 'none' ? 'block' : 'none';
};
</script>

{% endblock %}