{% extends "base.html" %}
{% block content %}
<h1>Hledání knihy</h1>

<form method="get">
    <input type="text" name="q" value="{{ query }}" placeholder="Napiš název knihy.">
    <button type="submit">Hledat</button>
</form>

{% if books %}
    <ul>
        {% for book in books %}
            <li>
                <a href="{% url 'book_detail' book_id=book.id %}">{{ book.title }}</a> by
                {% for author in book.authors.all %}
                    {{ author.first_name }} {{ author.last_name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Žádné knihy nenalezeny.</p>
{% endif %}
{% endblock %}


